.DS_Store
.idea
*.log
.vscode/
tmp/
.zsh_sessions/
.zsh_history
.zcompdump
.zcompcache/
__pycache__/
wireshark/
raycast/
fish/
uv/
cmus/
ncspot/
MusicBrainz/
doom/
rstudio/
github-copilot/
configstore/
emacs/
fd/
MusicBrainz/
rstudio/
xnconvert/
cagent/
cava/
btop/
llmfit/
glow/
htop/
lsd/
mpv/
nicotine/
thefuck/